/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Ford F-1';
  src: url('./assets/fonts/FordF1-Regular.otf') format('opentype'),
      url('./assets/fonts/FordF1-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
